.Collections2__first-button {
    margin-left: 3px !important;
}

.Collections2__collection-link {
    margin-bottom: 0;
    margin-top: 5px;
}

.Collections2__collection-link a {
    padding: 0 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: inline-block;
}

.Collections2__collection-link-active {
    background: #3c3c3c;
}
