.Collections2__first-button {
    margin-left: 3px !important;
}

.Collections2__collection-link {
    margin-bottom: 0;
    margin-top: 5px;
}

.Collections2__collection-link a {
    color: #fefefe;
    padding: 0 10px;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 5px;
}

.Collections2__collection-link-active {
    background: #8096b1;
}
