.layout {
}

.layout__navigation {
}

.layout__content {
}

.layout__side {
    background: #000;
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    overflow-y: scroll;
}

.layout__side::-webkit-scrollbar {
    width: 0;
}

.layout__main {
}
