.MediaListItem {
    display: block;
    margin: 0 auto;
    width: 100%;
    object-fit: fill;
}

.MediaListItem__outer {
    border: 5px solid transparent;
    border-radius: 5px;
    position: relative;
}

.MediaListItem__outer.selected {
    border-color: #fffd00;
}

.MediaListItem__outer.focused {
    border-color: #50e151;
}

.MediaListItem__aspect {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.MediaListItem__aspect_inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
