.ZoomedView {
    transition: margin-left 2s ease 0ms, margin-right 2s ease,
        margin-top 2s ease, margin-bottom 2s ease;
    background: blue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ZoomedView__container {
    max-width: 85%;
    max-height: 85%;
}

.ZoomedView__img {
}

.ZoomedView__video {
}
