html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="icon" href="favicon.png" sizes="16x16 32x32" type="image/png")
        title= title || 'FIXME'
        link(rel="stylesheet" href="/dist/index.css")
    body
        h1 Hi there, you visited this website #{visits}
        img(src="/img/clouds-dawn-dusk-459095.jpg" width=350)
        form(action="/api/v1/login" method="post")
            input(name="name" type="text")
            input(name="password" type="password")
            button(type="submit") Login
        if isLoggedIn
            h1 Hi user
            button.logout Logout me
        else
            h1 Hi guest
        form.imgupload(action="/")
            input(type="file" multiple)
            button Выслать
        script(src="/dist/index.js")